<%- include('header') %>
<div class="content">
	<p>Please see the following simple, yet comprehensive guide to caring for your cat, courtesy of the ASPCA</p><br>
	<p><a href ="https://www.aspca.org/pet-care/cat-care/general-cat-care">Cat Care Guide</a></p>
</div>
<%- include('footer') %>