<%- include('header') %>
<div class="content">
    <p id="left">This website was created by Payton Grundy, Student ID: 40101784, for a web programming assignment.</p><br><br><br><br>
    <p id="center">The pet adoption service is not real, and all pages and functions on this website are created to display web programming skills.</p><br><br><br><br>
    <p>If for any reason you need to contact me, (Payton Grundy), please send an email to <a href="mailto:payton.g1627@gmail.com">payton.g1627@gmail.com</a></p>
</div>
<%- include('footer') %>