<%- include('header') %>
<div class="content">
	<p>Please see the following simple, yet comprehensive guide to caring for your dog, courtesy of the ASPCA</p><br>
	<p><a href ="https://www.aspca.org/pet-care/dog-care/general-dog-care">Dog Care Guide</a></p>
</div>
<%- include('footer') %>