<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption Service</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/logo_transparent.png" alt="Pet Adoption Service"></a>
            <h1>Payton's Pet Adoption Service</h1>
            <p id="datetime">TESTERTSTERTSTERTe</p>
        </div>
    </header>
    <div class="side-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/find">Find a Dog or Cat</a></li>
            <li><a href="/give">Have a Pet to Give Away?</a></li>
            <li><a href="/dogcare">Dog Care</a></li>
            <li><a href="/catcare">Cat Care</a></li>
            <li><a href="/createAccount">Create an Account</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
    <div class="content">