<%- include('header') %>
<div class="content">
	<h1>Welcome to Payton's Pet Adoption Service!</h1><br><br><br><br>
	<p>We provide a platform for finding loving homes for cats and dogs. We also have some tips and pointers for first-time pet owners.</p><br><br>
	<p>Browse through the available pets with our <a href="/find">pet finding tool</a>. Or if you have a pet to give away, <a href="/createAccount">create an account</a> and fill out our <a href="/give">give away form</a>.</p>
</div>
<%- include('footer') %>