body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header, footer {
    padding: 10px;
    background-color: darkolivegreen;
    color: white;
}

.side-menu {
    float: left;
    width: 200px;
    background-color: #f4f4f4;
    height: 100vh;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 10px;
    color: grey;
}

.side-menu a {
    text-decoration: none;
    color: inherit;
}

.side-menu a:hover, a:active, #active {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: inherit;
    flex: 1;
}

.logo img {
    width: 150px;
    height: auto;
}

.logo h1 {
    margin: 0;
    text-align: center;
    color: white;
}

#datetime {
    margin: 0;
    font-style: italic;
    text-align: center;
    visibility: hidden;
}

.content {
    margin-left: 22px; /*Side Menu Length*/
    padding: 20px;
    text-align: right;
}

.content p {
    font-style: italic;
}

.contentFindPet {
    margin-left: 132px; /*Side Menu Length*/
    padding: 20px;
    text-align: right;
}

label {
    text-align: left;
}

.petContent {
    padding: 20px 0px 20px 30px;
    text-align: left;
    justify-content: center;
}

.petContent a {
    background-color: darkolivegreen;
    color: white;
    font-family: inherit;
    font-size: 22px;
    padding: 4px;
    border-radius: 2.2px;
    min-width: 75px;
}

.petContent a:hover {
    background-color: white;
    border: 2.2px solid darkolivegreen ;
    color: darkolivegreen;
    font-family: inherit;
    font-size: 22px;
    padding: 4px;
    border-radius: 2.2px;
}

form {
    margin-left: 2.2%;
    border: 2.2px solid darkolivegreen;
}

#giveaway-form, #create-account-form {
    margin-left: 140px;
}

form label, form select, form input, text area, button {
    margin: 4px;
}

input[type="text"], input[type="number"], input[type="password"], textarea {
    padding: 4px;
}

input[type="submit"], button {
    background-color: darkolivegreen;
    color: white;
    font-family: inherit;
    font-size: 22px;
    padding: 4px;
    border-radius: 2.2px;
    min-width: 75px;
}

input[type="submit"]:hover, button:hover {
    background-color: white;
    border: 2.2px solid darkolivegreen ;
    color: darkolivegreen;
    font-family: inherit;
    font-size: 22px;
    padding: 4px;
    border-radius: 2.2px;
}

.petContent h2 {
    text-align-last: right;
}

#pet-list {
    width: auto;
    min-width: 300px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
}

#pet-list div {
    border: 0.2px solid darkolivegreen;
    flex: 1 0 auto;
    text-align: center;
    width: auto;
    min-width: 75px;
    padding: 10px 10px;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

.description {
    position: relative;
    text-align: right;
    width: auto;
    font-size: smaller;
}

#error-message {
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
}

footer {
    clear: both;
}

footer p {
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    text-align: center;
    color: white;
    padding: 10px;
}